h1 {
  color: blueviolet;
  text-align: center;
}

footer {
  text-align: center;
}

#github-link {
  text-decoration: none;
  color: blue;
}

#github-link:hover {
  text-decoration: underline;
  color: rgb(209, 34, 215);
}
